/**
 * LifePress Boxy CSS
 *
 * Table of Contents:
 * Reset
 * Typography
 * Positioning
 * Buttons
 * IE Fixes
 * PageDown
 * 3rd Party
 */

/**
 * Reset
 */
@import "reset.css";

* {
	margin: 0;
	padding: 0;
}


/**
 * Typography
 */
body {
	font-family: "Lucida Grande", Helvetica, Arial, sans serif;
	font-size: 12px;
	color: black;
	line-height: 1.5em;
}

.permalink, .item_count, #button_explain, .input_explain {
	font-size: 10px;
}

.icon, .tags, .item_tools, .tip, .feed_tools {
	font-size: 11px;
}

table.generic_table {
	font-size: 12px;
}

#nav, p.title, #pagination {
    font-size: 15px;
}

input.text_input, form.item_search input, textarea.text_input {
	font-size: 14px;
}

.under_input, .added, .admin_list ul li, .feed_action, .icon, .item_tools a, #nav a, #sub_nav a, #user_info p, .permalink a, .item_count, #button_explain, .tip, .feed_tools a, .input_explain, .content blockquote, a.show_all_tags {
    color: #999;
}

.content, .item_tools a:hover {
	color: #333;
}

a, .expand a {
    color: #3399ff;
}

a:hover, .expand a:hover {
    color: #003366;
}

.error {
    color: #CC0000;
}

.success {
    color: green;
}

.option label {
	color: #486d9b;
}

#nav .current_item a, #nav a:hover, .tip strong, #sub_nav .current_item a, #sub_nav a:hover, .input_explain strong {
    color: black;
}

label.title, #footer, #footer a, .feed_tools a:hover, .item_delete a:hover {
	color: white;
}

.content strong, #nav, .error, .success, .feed_title, .title, #pagination, .tip strong, .expand a, #breadcrumb a, #sub_nav, .input_explain strong {
    font-weight: bold;
}

.content em {
    font-style: italic;
}

#nav a, .permalink a, #sub_nav a {
    text-decoration: none;
}

#user_info {
	line-height: 1.4em;
}

p.title {
	line-height: 1.6em;
}

.icon {
	line-height: 16px;
}


/**
 * Positioning
 */
body, html {
    height: 100%;
}

body {
    background: white;
    border: 5px solid #0458a3;
    border-style: solid none none none;
}

#footer {
	padding: 10px;
	background: #0458a3;
}

#header {
    padding: 20px;
}

#logo a {
    display: block;
    width: 254px;
    height: 45px;
    background: transparent url(../images/system/logo.gif);
}

#user_info {
    position: absolute;
    top: 35px;
    left: 285px;
}

#nav_container, #sub_nav_container {
    position: relative;
    border: 1px solid #CCC;
    border-style: none none solid none;
    margin: 35px 0 0 0;
}

#nav_container.login {
	margin: 5px 0 0 0;
}

#sub_nav_container {
    margin: 30px 0 20px 0;
}

#nav, #sub_nav {
    float: left;
    width: 100%;
    position: absolute;
    bottom: -1px;
}

#sub_nav {
    border: 1px solid #CCC;
    border-style: none none none solid;
}

#nav li, #nav li a, #sub_nav li, #sub_nav li a {
    float: left;
}

#nav li a, #sub_nav li a {
    background: #EEE;
    padding: 7px 15px;
    border: 1px solid #CCC;
    border-style: solid solid solid none;
}

#sub_nav li a {
    padding: 5px 10px;
}

#nav #nav_dashboard {
    margin-left: 20px;
}

#nav #nav_dashboard a {
    border: 1px solid #CCC;
}

#nav .current_item a, #nav #nav_dashboard.current_item a, #sub_nav .current_item a {
	background: white;
	border-color: #CCC #CCC white #CCC;
}

#breadcrumb_container {
    background: #006699;
    position: relative;
    border: 1px solid #CCC;
    border-style: none none solid none;
}

#breadcrumb {
    margin-bottom: 20px;
}

#main_content {
	padding: 20px 20px 0 20px;
	width: 588px;
	position: relative;
	float: left;
}

.row {
    margin-bottom: 20px;
}

#side_content {
	width: 200px;
	float: left;
	padding: 20px;
	border: 1px solid #CCC;
	border-style: none none none dashed;
}

#button_explain {
	clear: both;
	padding: 5px 0 0 0;
}

#main_content p, .error, .success, table.generic_table {
	margin-bottom: 20px;
}

#main_content .error p, #main_content table.generic_table p {
	margin: 0;
}

.error, .success {
	background: #FFCCCC;
	padding: 8px;
}

.success {
	background: #ccffcc;
}

label.title {
	background: #999;
	padding: 2px 5px;
}

.text_input, .item_search input {
	border: 1px solid #999;
	background: #fefee2;
	width: 575px;
	display: block;
	padding: 5px;
}

textarea.text_input {
    height: 300px;
}

.item_search input {
	width: 187px;
}

.generic_table {
	width: 100%;
	clear: both;
}

.generic_table td {
	border: 1px solid #EEE;
	padding: 8px;
}

form.generic {
	padding-bottom: 20px;
	float: left;
    width: 588px;
}

.icon {
	background-repeat: no-repeat;
	background-position: 5px center;
	background-color: #F9F9F9;
	height: 16px;
	padding: 5px 0 5px 25px;
	border: 1px solid #EEE;
	border-style: none none solid none;
}

#main_content .activity_list p, #main_content .feed_list p {
	margin: 0;
}

#main_content .activity_list .permalink {
	margin-bottom: 3px;
}

.image img {
	display: block;
	border: 1px solid #CCC;
	padding: 5px;
}

.image {
	margin: 5px 0;
}

.activity_list .item {
	margin-bottom: 20px;
	border: 1px solid #999;
	position: relative;
}

.item_tools, .feed_tools {
	position: absolute;
	right: 10px;
	top: 4px;
}

.item_tools li, .feed_tools li {
	display: inline;
	padding: 0 0 0 5px;
}

.item_tools .expand {
	background: transparent url(../images/system/icons/silk/bullet_arrow_right.png) 0 center no-repeat;
	padding-left: 15px;
}

.item_tools .expand.expanded {
	background: transparent url(../images/system/icons/silk/bullet_arrow_down.png) 0 center no-repeat;
}

.item_container {
	padding: 8px 12px 10px 12px;
}

#main_content .activity_list .content p, .content ul, .content ol {
    margin-bottom: 10px;
}

.content ul, .content ol {
	margin-left: 20px;
	list-style-type: disc;
}

.content ol {
	list-style-type: decimal
}

.content blockquote {
    margin-left: 20px;
    border: 3px solid #CCC;
    border-style: none none none solid;
    padding-left: 10px;
}

.tags li {
	display: inline;
	padding: 0 5px 0 0;
}

.hideshow, .item_tools .expand {
	display: none;
}

.activity_list .publish .publish_this, .activity_list .draft .unpublish_this {
	display: none;
}

.activity_list .draft .publish_this, .activity_list .publish .unpublish_this {
	display: inline;
}

.activity_list li .item_container {
	position: relative;
}

.activity_list .draft {
    opacity: 0.4;
	-moz-opacity: 0.4;
	filter: alpha(opacity=40);
}

.feed_list .title {
	background-repeat: no-repeat;
	background-position: left center;
}

.feed_list p {
	padding: 0 0 0 22px;
}

.feed_list {
	border: 1px solid #EEE;
	border-style: solid none none none;
	margin-bottom: 20px;
}

.feed_list .feed {
	border: 1px solid #EEE;
	border-style: none solid solid solid;
	padding: 10px;
	background: transparent url(../images/system/dither.gif) bottom left repeat-x;
	position: relative;
}

.feed_delete a, .item_delete a {
	padding: 1px 2px;
}

.feed_delete a:hover, .item_delete a:hover {
	background: red;
}

.clear {
	clear: both;
}

#pagination {
	padding: 15px 10px;
	background: #F8F8F8;
}

#pagination a {
	background: white;
	padding: 5px 8px;
	border: 1px solid #EEE;
}

#pagination a:hover {
	border: 1px solid #CCC;
}

.side_title {
	margin: 15px 0 8px 0;
	border: 1px solid #EEE;
	border-style: none none solid none;
	padding: 0 0 3px 0;
}

.tag_list li {
	display: inline;
	padding: 0 0 5px 0;
}

.highlight {
	background: #FFFFCC;
}

.option_container {
    border: 1px solid #999;
    padding: 8px 10px 3px 10px;
    display: block;
}

.option {
	display: block;
	margin-bottom: 5px;
}

.option label {
	background: #f1f5fa;
	padding: 1px 2px;
	cursor: pointer;
}

.input_explain {
    display: block;
    margin-top: -15px;
    margin-bottom: 15px;
}

.reset_cron_key {
	position: absolute;
	right: 25px;
}

.tag_list.all {
	display: none;
}

.active_feeds li {
	padding-left: 22px;
	margin-bottom: 5px;
}

.change_password {
	background: transparent url(../images/system/icons/silk/bullet_arrow_right.png) 0 center no-repeat;
	padding-left: 15px;
}

.change_password.toggle {
	background: transparent url(../images/system/icons/silk/bullet_arrow_down.png) 0 center no-repeat;
}

#change_password_container {
	display: none;
}


/**
 * Buttons
 */
.buttons a, .buttons button{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}

.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}

.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}

*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}

.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

/* STANDARD */

button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

button.positive, .buttons a.positive{
    color:#529214;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

.buttons a.negative, button.negative{
    color:#d12f19;
}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}


/**
 * IE Fixes
 */
* html #nav_container {
    height: 38px;
}

/**
 * PageDown
 */
.wmd-button-bar {
    width: 100%;
    background-color: Silver;
}

.wmd-preview {
    border: 1px solid #999;
    width: 575px;
    display: block;
    padding: 5px;
    min-height: 15px;
}

.wmd-button-row {
    position: relative;
    margin: 5px;
    padding: 0px;
    height: 20px;
}

.wmd-spacer {
    width: 1px;
    height: 20px;
    margin-left: 14px;
    position: absolute;
    background-color: Silver;
    display: inline-block;
    list-style: none;
}

.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-button > span {
    background-image: url(../scripts/pagedown/wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-spacer1 {
    left: 50px;
}
.wmd-spacer2 {
    left: 175px;
}
.wmd-spacer3 {
    left: 300px;
}

.wmd-prompt-background {
    background-color: Black;
}

.wmd-prompt-dialog {
    border: 1px solid #999999;
    background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
    font-size: 0.8em;
    font-family: arial, helvetica, sans-serif;
}

.wmd-prompt-dialog > form > input[type="text"] {
    border: 1px solid #999999;
    color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
    border: 1px solid #888888;
    font-family: trebuchet MS, helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}

/**
 * 3rd Party
 */
